/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

:root {
  --branding-color: #ffecda;
  --heading-font-family: "Playfair Display", serif;
  --defult-font-family: "Poppins", sans-serif;
  --secondary-color: #222831;
  --hover-color: #eb6969;
}

body {
  font-family: var(--defult-font-family);
  background: #e3e3e3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 86px;
  line-height: 1.5;
}

h2 {
  font-size: 56px;
}

h3 {
  font-size: 40px;
  color: var(--branding-color);
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.hero {
  text-align: center;
  background: var(--secondary-color);
  color: var(--branding-color);
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}

.content-container {
  padding: 60px 20px;
}

.content-container h3 {
  color: var(--secondary-color);
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--defult-font-family);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  margin: 20px 0 0;
  font-family: var(--defult-font-family);
}

.content p {
  padding: 0;
}

.content {
  margin: 30px;
}

.content-certificate h1 {
  font-size: 64px;
  line-height: 80px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: var(--secondary-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding:hover {
  color: var(--hover-color);
}

.btn-branding-outline:hover {
  color: var(--hover-color);
}

.project-description {
  padding: 120px 60px;
}

.logo {
  max-height: 60px;
}

.contact-details a {
  text-decoration: none;
  color: black;
}

.contact-details h4 {
  color: var(--hover-color);
}

.contact-details a:hover {
  color: var(--hover-color);
}

nav {
  padding: 18px;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 10px;
}

nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--hover-color);
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--hover-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .contact-box h3 {
  color: var(--branding-color);
}

footer .social-links a:hover {
  color: #d4a5a5;
  background: var(--hover-color);
}

@media (max-width: 960px) {
  h1 {
    font-size: 50px;
    line-height: 1.8;
  }

  h2 {
    font-size: 44px;
  }

  h3 {
    font-size: 26px;
  }

  .hero {
    padding: 80px 20px;
  }

  .hero p {
    font-size: 26px;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  nav a {
    font-size: 12px;
  }

  .content-container {
    padding: 0;
  }

  .content-container h1 {
    font-size: 50px;
  }

  .contact-details h1 {
    font-size: 40px;
    margin: 0;
  }

  .contact-details h3 {
    font-size: 18px;
  }

  .contact-details img {
    width: 200px;
    height: 200px;
  }

  .contact-footer {
    margin-top: 10px;
  }
}
